<html lang="en">

<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <style>
        p.wordwrap {
            word-wrap: break-word;
        }
    </style>
</head>

<body>
    <div id="monkey-data">
        <v-app id="inspire">
            <v-navigation-drawer v-model="drawer" fixed app>
                <v-list dense>
                    <v-list-tile @click="" href="/restmonkey/ui/">
                        <v-list-tile-action>
                            <v-icon>poll</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>Reports</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile @click="" href="/restmonkey/ui/victimize.html">
                        <v-list-tile-action>
                            <v-icon>poll</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>New</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list>
            </v-navigation-drawer>

            <v-toolbar color="indigo" height=48 dark fixed app>
                <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
                <v-toolbar-title>Reliability Engineering | REST Monkey</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn icon>
                    <v-icon>git</v-icon>
                </v-btn>
            </v-toolbar>



            <v-content>
                <v-container grid-list-xl text-xs-center>
                    <v-layout row wrap>
                        <v-flex tag="h1" class="headline">REST Monkey Reports</v-flex>
                        <v-flex d-flex xs12 order-xs5>
                            <v-layout column>


                                <v-flex>
                                    <v-card flat>
                                        <v-card-text>
                                            <!-- <h4>{{ monkeyData }}</h4> -->
                                            <!-- <h4>rep: {{ reports }}</h4>
                                            <h4>err: {{ errored }} </h4>
                                            <h4>loading: {{ loading }}</h4> -->
                                        </v-card-text>
                                    </v-card>
                                </v-flex>

                                <v-flex>
                                    <v-card flat>
                                        <v-card-title>
                                            <!-- <v-btn flat icon color="primary" slot="activator" @click.stop="configInfo=true">
                                                <v-icon>info</v-icon>
                                            </v-btn> -->
                                            <h4>Reports</h4>
                                        </v-card-title>
                                        <v-divider></v-divider>
                                        <v-card-text v-if="reports">
                                            <!-- <v-select :items="reports" item-text="file" item-value="file" v-model="reportID" label="Select" class="input-group--focused" @change="getReport"></v-select> -->
                                            <v-select :items="reports" v-model="reportID" label="Select" item-text="file" item-value="file" single chips max-height="auto"
                                                autocomplete clearable @change="getReport">

                                                <template slot="selection" slot-scope="data">
                                                    <v-chip :selected="data.selected" :key="JSON.stringify(data.item)" close label @input="removeChip(data.item)">
                                                        <v-icon left>poll</v-icon>
                                                        {{ data.item.file.slice(0, -5) }}
                                                    </v-chip>
                                                </template>

                                                <template slot="item" slot-scope="data">
                                                    <template v-if="typeof data.item !== 'object'">
                                                        <v-list-tile-content v-text="data.item"></v-list-tile-content>
                                                    </template>
                                                    <template v-else>
                                                        <v-list-tile-avatar>
                                                            <v-icon left>poll</v-icon>
                                                        </v-list-tile-avatar>
                                                        <v-list-tile-content>
                                                            <v-list-tile-title v-html="data.item.file.slice(0, -5)"></v-list-tile-title>
                                                            <v-list-tile-sub-title> {{ formatTimeStamp(data.item.time) }} </v-list-tile-sub-title>
                                                        </v-list-tile-content>
                                                    </template>
                                                </template>
                                            </v-select>
                                        </v-card-text>
                                        <v-card-text v-else>
                                            <v-alert :value="true" type="info" icon="info">
                                                No reports in the backend !
                                            </v-alert>
                                        </v-card-text>
                                    </v-card>
                                </v-flex>


                                <!-- <v-dialog v-model="configInfo" scrollable max-width="800px">
                                    <v-card>
                                        <v-card-title>
                                            <h4>Usage</h4>
                                        </v-card-title>
                                        <v-card-text class="text-lg-left">
                                            <v-layout>
                                                <v-flex xs3 sm3 md3 lg3 xl3>
                                                    <h4 class="text-lg-left">Endpoint:</h4>
                                                </v-flex>
                                                <v-flex xs9 sm9 md9 lg9 xl9>
                                                    <p class="text-lg-right">/probe</p>
                                                </v-flex>
                                            </v-layout>
                                            <v-layout>
                                                <v-flex xs3 sm3 md3 lg3 xl3>
                                                    <h4 class="text-lg-left">Mandatory Arguments:</h4>
                                                </v-flex>
                                                <v-flex xs9 sm9 md9 lg9 xl9>
                                                    <p class="text-lg-right">url=localhost&requests=10&workers=4</p>
                                                </v-flex>
                                            </v-layout>
                                            <v-layout>
                                                <v-flex xs3 sm3 md3 lg3 xl3>
                                                    <h4 class="text-lg-left">Optional Arguments:</h4>
                                                </v-flex>
                                                <v-flex xs9 sm9 md9 lg9 xl9>
                                                    <p class="text-lg-right">"resolve=IP:PORT", "insecure=true"</p>
                                                </v-flex>
                                            </v-layout>
                                            <v-layout>
                                                <v-flex xs12 sm12 md12 lg12 xl12>
                                                    <h4>Eg: minimum</h4>
                                                    <p class="text-lg-left wordwrap">/probe?requests=4&workers=2&url=https%3A%2F%2Fidam-pp.metrosystems.net%2Fauthorize%2Fapi%2Foauth2%2Fauthorize%3Fclient_id%3DTST_CLNT_1%26realm_id%3DTST_REALM%26redirect_uri%3Dhttps%3A%2F%2Fidam-pp.metrosystems.net%2Fauthorize%2Fapi%2Foauth2%2FauthorizeTest%26user_type%3DCUST%26locale_id%3Den-US%26response_type%3Dtoken</p>
                                                </v-flex>
                                            </v-layout>
                                            <v-layout>
                                                <v-flex xs12 sm12 md12 lg12 xl12>
                                                    <h4>Eg: insecure and resolvable</h4>
                                                    <p class="text-lg-left wordwrap">/probe?insecure=true&resolve=10.29.30.8:443&requests=4&workers=2&url=https%3A%2F%2Fidam-pp.metrosystems.net%2Fauthorize%2Fapi%2Foauth2%2Fauthorize%3Fclient_id%3DTST_CLNT_1%26realm_id%3DTST_REALM%26redirect_uri%3Dhttps%3A%2F%2Fidam-pp.metrosystems.net%2Fauthorize%2Fapi%2Foauth2%2FauthorizeTest%26user_type%3DCUST%26locale_id%3Den-US%26response_type%3Dtoken</p>
                                                </v-flex>
                                            </v-layout>
                                        </v-card-text>
                                        <v-card-actions>
                                            <v-btn color="primary" flat @click.native="configInfo=false">Close</v-btn>
                                        </v-card-actions>
                                    </v-card>
                                </v-dialog> -->


                                <div v-if="reportID">
                                    <v-flex>
                                        <v-card flat>
                                            <v-card-title>
                                                <h4>Report Details</h4>
                                            </v-card-title>
                                            <v-divider></v-divider>
                                            <v-card-text>
                                                <v-layout>
                                                    <v-flex xs3 sm3 md3 lg3 xl3>
                                                        <div>
                                                            <p class="text-lg-left">UUID:</p>
                                                        </div>
                                                    </v-flex>
                                                    <v-flex xs9 sm9 md9 lg9 xl9>
                                                        <div>
                                                            <p class="text-lg-right">{{ monkeyData.uuid }}</p>
                                                        </div>
                                                    </v-flex>
                                                </v-layout>
                                                <v-layout>
                                                    <v-flex xs3 sm3 md3 lg3 xl3>
                                                        <div>
                                                            <p class="text-lg-left">TimeStamp:</p>
                                                        </div>
                                                    </v-flex>
                                                    <v-flex xs9 sm9 md9 lg9 xl9>
                                                        <div>
                                                            <p class="text-lg-right">{{ monkeyData.timestamp }}</p>
                                                        </div>
                                                    </v-flex>
                                                </v-layout>
                                                <v-layout>
                                                    <v-flex xs3 sm3 md3 lg3 xl3>
                                                        <div>
                                                            <p class="text-lg-left">Total duration:</p>
                                                        </div>
                                                    </v-flex>
                                                    <v-flex xs9 sm9 md9 lg9 xl9>
                                                        <div>
                                                            <p class="text-lg-right">{{ monkeyData.durationTotal }}</p>
                                                        </div>
                                                    </v-flex>
                                                </v-layout>
                                            </v-card-text>

                                        </v-card>
                                    </v-flex>

                                    <v-flex>
                                        <v-card flat>
                                            <v-card-title>
                                                <h4>Monkey Config</h4>
                                            </v-card-title>
                                            <v-divider></v-divider>
                                            <v-card-text>
                                                <v-layout v-for="(value, key) in monkeyData.config" :key="key">
                                                    <v-flex xs3 sm3 md3 lg3 xl3>
                                                        <div>
                                                            <p class="text-lg-left">{{ key }}</p>
                                                        </div>
                                                    </v-flex>
                                                    <v-flex xs9 sm9 md9 lg9 xl9>
                                                        <div>
                                                            <p class="text-lg-right wordwrap">{{ value }}</p>
                                                        </div>
                                                    </v-flex>
                                                </v-layout>
                                            </v-card-text>
                                        </v-card>
                                    </v-flex>

                                    <v-flex>
                                        <v-card flat>
                                            <v-card-title>
                                                <h4>Monkey Statistics</h4>
                                            </v-card-title>
                                            <v-divider></v-divider>
                                            <v-card-text>
                                                <v-layout v-for="(value, key) in monkeyData.stats" :key="key">
                                                    <v-flex xs3 sm3 md3 lg3 xl3>
                                                        <div>
                                                            <p class="text-lg-left">{{ key }}</p>
                                                        </div>
                                                    </v-flex>
                                                    <v-flex xs9 sm9 md9 lg9 xl9>
                                                        <div>
                                                            <p class="text-lg-right">{{ value }}</p>
                                                        </div>
                                                    </v-flex>
                                                </v-layout>
                                            </v-card-text>
                                        </v-card>
                                    </v-flex>

                                    <v-flex>
                                        <v-card flat>
                                            <template>
                                                <v-data-table :headers="monkeyWorkerDataTableHeader" :items="monkeyWorkerDataTableData" item-key="monkeyWorkerDataTableData.requests"
                                                    class="elevation-1" prev-icon="chevron_left" next-icon="chevron_right" sort-icon="mdi-menu-down"
                                                    :rows-per-page-items='[25,50,75,100,{"text":"All","value":-1}]'>
                                                    <template slot="items" slot-scope="props">
                                                        <td class="text-xs-right">{{ props.item.request }}</td>
                                                        <td class="text-xs-right">{{ props.item.status }}</td>
                                                        <td class="text-xs-right">{{ props.item.thread }}</td>
                                                        <td class="text-xs-right">{{ props.item.duration }}</td>
                                                        <td class="text-xs-left">{{ props.item.error }}</td>
                                                    </template>
                                                </v-data-table>
                                            </template>
                                        </v-card>
                                    </v-flex>
                                </div>
                            </v-layout>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-content>
            <v-footer color="black" app>
                <span class="white--text">&copy; 2017</span>
            </v-footer>
        </v-app>
    </div>

</body>

<script src="https://unpkg.com/vue"></script>
<!-- <script src="https://unpkg.com/vuex@2.0.0"></script> -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
<script type='text/javascript' src='index.js'></script>